.App {
  text-align: center;
  color: aliceblue;
  background-color: rgb(41, 85, 179);
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 30px;
 border-radius: 10px;
 box-shadow: 30px;
}

input{
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 50%;
  border-radius: 5px;
}

input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: red;
}

.row{
  margin-bottom: 10px;
}


